<!DOCTYPE html>
<html>

<head>
  <title>Recepio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
  <h1>Recepio</h1>

  {% if session.username %}
  <p>
    Logged in as {{ session.username }} | 
    <a href="/logout">Logout</a>
  </p>
  <hr>
  <p>
    <a href="/new_recipe">Add recipe</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Sign in</a> | 
    <a href="/register">Register</a>
  </p>
  <hr>
    {% if message %}
      <p id="message" class="{{ message_type }}">{{ message }}</p>
    {% endif %}
  {% endif %}
  <h2>Recipes</h2>
  <ul>
    {% for recipe in recipes %}
    <li><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>