<!DOCTYPE html>
<html>

<head>
  <title>Recepio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
  <h1><span>R</span>ecepio</h1>
  <p>
    {% if session.username %}
      Logged in as {{ session.username }} |
      <a href="/new_recipe">Add recipe</a> |
    {% else %}
      <a href="/login">Sign in</a> |
      <a href="/register">Register</a> |
    {% endif %}
    <a href="/find_recipe">Find recipe</a>
    {% if session.username %}
      <a href="/logout"> | Logout</a>
    {% endif %}
  </p>
  <hr>
  {% if message %}
    <p id="message" class="{{ message_type }}">{{ message }}</p>
  {% endif %}
  <h2>Recipes</h2>
  <ul>
    {% for recipe in recipes %}
    <li><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>