<!DOCTYPE html>
<html>

<head>
  <title>{{ recipe.title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
  <h1>Recepio</h1>
  <p>
    <a href="/">Back</a>
    {% if session.user_id == recipe.user_id %}
      | <a href="/edit_recipe/{{ recipe.id }}">Edit</a> 
      | <a href="/remove_recipe/{{ recipe.id }}">Remove</a>
    {% endif %}
  </p>
  <hr>
  <h2>{{ recipe.title }}</h2>
  <p>
    Description: {{recipe.description}}
  </p>
  <p>
    Ingredients: {{recipe.ingredients}}
  </p>
  <p>
    Instructions: {{recipe.instructions}}
  </p>
  <p>
    Creator: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>
  </p>
  {% if categories %}
  <p>
    Categories:
    <ul>
      {% for group in categories %}
      <li>{{ group.category }}: {{ group.value }}</li>
      {% endfor %}
    </ul>
  </p>
  {% endif %}
</body>

</html>